body {
    background-image:url("https://thumbs.dreamstime.com/b/food-drive-donation-box-poster-illustration-248309656.jpg");
    background-repeat:n0-repeat;
    background-size:cover;
    height:100px;
    wudth:100vw;
    font-family: Arial;
}

h1, h2 {
    color: #007808;
}
.card {
    border: 10px;
}
